$primary-color: #FF9100;

$primary-color-light: #FFEACE;
$primary-color-dark: #E68300;

$lightgrey-color: #f0f0f0;
$grey-color: #d8d8d8;
$darkgrey-color: #909090;

// $background-color: #050505;
$background-color: #3f3f3f;

$white: #ffffff;
$black: #000000;

$purple: #7c34db;
$blue: #3498db;
$green: #69ae4a;
$yellow: #ffd900;
$orange: #f19b69;
$red: #d64040;

$etain: #e0dfda;
$iron: #cbcdcd;
$steel: #686969;
$iridium: #4b4b4b;

$copper: #b87333;
$silver: #c0c0c0;
$gold: #daa520;
$platinium: #e5e4e2;

$sapphire: #0f52ba;
$emerald: #50c878;
$ruby: #9b111e;
$diamond: #b9f2ff;